header {
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 48px;
}

a {
    text-decoration: none;
}

.header-logo a {
    color: #f9faf8;
    font-size: 24px;
    padding: 0 300px;
    font-weight: bold;
}

.header-links a {
    color: #e5e7eb;
    font-size: 18px;
}

.header-links {
    display: flex;
    justify-content: space-around;
    gap: 24px;
    padding: 0 300px;
}
